@import "src/_variables.scss";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: $text-c-white;
  background: $bg-c-black;
  margin-bottom: 100px;
}

.wrapper {
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $phone) {
    height: 100px;
    padding: 15px 10px 57px 0;
  }
}

.logo {
  font-size: $logo-fs;
  @media screen and (max-width: $phone) {
    font-size: 2em;
  }
}

.logo_text {
  &__red {
    color: $logo-c;
  }
  &__white {
    color: $text-c-white;
  }
}

.menu {
  display: flex;
  width: 100%;
  max-width: 30%;
  justify-content: space-between;
  @media screen and (max-width: $tablet-small) {
    align-items: center;
    position: fixed;
    max-width: 100%;
    padding: 0 55px 0 40px;
    height: 40px;
    background-color: $bg-c-black;
    bottom: 0;
    font-size: 1.4em;
    font-weight: $bold;
  }
  @media screen and (max-width: $phone) {
    width: 100%;
    font-size: 1.1em;
    padding: 0 45px 0 30px;
  }
}

.menu_item {
  font-size: $menu-fs;
  list-style: none;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    color: $logo-c;
  }
}

.active {
  font-size: $menu-fs;
  list-style: none;
  cursor: pointer;
  transition: 0.4s;
  color: $logo-c;
}

.search {
  width: 230px;
  @media screen and (max-width: $phone) {
    position: fixed;
    width: 100%;
    top: 55px;
    font-size: 1.1em;
    padding: 0 20px 0 0;
  }
}

.login {
  display: flex;
  justify-content: space-between;
  width: 250px;

  @media screen and (max-width: $phone) {
    position: relative;
    left: 10px;
  }
}

.btn_log {
  width: 120px;
}

.btn_reg {
  width: 120px;
}
