@import "src/_variables.scss";

.dashboard {
  margin-top: 100px;
  height: 75vh;
  padding: 100px 0 100px 0;
  @media screen and (max-width: $phone) {
    margin-top: 60px;
  }
  &_wrapper {
    display: flex;
    height: 300px;
    @media screen and (max-width: $phone) {
      flex-direction: column;
      position: relative;
      height: 400px;
    }
  }
}

.dashboard_title {
  padding-bottom: 20px;
  font-size: 3em;
  text-transform: uppercase;
  color: $text-c-white;
}

.personPanel {
  width: 100%;
  max-width: 50%;
  display: flex;
  align-items: center;
  @media screen and (max-width: $phone) {
    max-width: 100%;
    margin-bottom: 20px;
  }
  div {
    max-width: 600px;
  }
  &_itemBox {
    padding-bottom: 40px;
    & > input {
      margin-bottom: 10px;
    }
  }
}

.personData_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.8em;
  color: $text-c-white;
  margin-bottom: 10px;
  @media screen and (max-width: $phone) {
    margin-bottom: 20px;
    max-width: 100%;
    font-size: 1.4em;
    gap: 10px;
  }
}

.btnExit {
  width: 300px;
  @media screen and (max-width: $phone) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.favourites {
  overflow-y: auto;
  width: 100%;
  max-height: 300px;
  max-width: 100%;
  padding: 20px 60px 20px 60px;
  border-radius: $input-br;
  color: $text-c-white;
  background-color: $bg-c-black-light;
  &_title {
    font-size: 2em;
    color: $text-c-white;
    text-align: center;
    padding-bottom: 20px;
    @media screen and (max-width: $phone) {
      font-size: 1.6em;
    }
  }
  @media screen and (max-width: $phone) {
    height: 250px;
    font-size: 1em;
    padding: 20px 10px 20px 10px;
  }
}

.btnLiveBox {
  margin-top: 40px;
  width: 200px;
}

.favourites::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
  &-thumb {
    border-radius: 10px;
    background-color: #460909;
  }
  &-track {
    background-color: #36363a;
  }
}
