@import "src/_variables.scss";

.footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $text-c-white;
  font-weight: 300;
  background-color: $bg-c-black;
  @media screen and (max-width: $tablet-small) {
    align-items: start;
    height: 150px;
  }
  @media screen and (max-width: $phone) {
    padding-top: 30px;
    font-size: 10px;
    height: 120px;
  }
}
