@import "src/_variables.scss";

.card {
  width: 230px;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}

.img_box {
  position: relative;
}

.bg_add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.72);
  font-size: 1rem;
  color: $text-c-white;
  opacity: 0%;
  &:hover {
    opacity: 100%;
  }
}

.bg_add_link {
  &:hover {
    color: $logo-c;
    cursor: pointer;
  }
}

.card_img {
  width: 100%;
  max-white: 100%;
  height: 340px;
  margin-bottom: 10px;
  border-radius: $input-br;
  transition: 0.4s;
}

.card_rating {
  z-index: 10;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 15px;
  left: 10px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-c-white;
  background-color: $bg-c-black;
  border: $br-weight solid green;
  border-radius: 50%;
}

.card_title {
  font-size: 2em;
  color: $text-c-white;
  margin-bottom: 5px;
  @media screen and (max-width: $tablet-big) {
    font-size: 1.3em;
  }
}

.card_genre {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4em;
  color: $logo-c;
  @media screen and (max-width: $tablet-big) {
    font-size: 1.3em;
  }
}
