// textColors
$text-c-black: black;
$text-c-white: rgba(255, 255, 255, 0.84);
$logo-c: #fa0101;

// bgColors
$bg-c-black: black;
$bg-c-white: white;
$bg-c-input: #222028;
$bg-c-black-light: #1a191f;
$bg-c-hover: red;

// btnColors
$btn-c-black: black;
$btn-c-white: white;

// textSizes
$logo-fs: 3em;
$menu-fs: 1.6em;

// font
$light: 300;
$medium: 500;
$bold: 700;

// Border
$br-weight: 3px;

// Border-radius
$input-br: 5px;

//media
$tablet-big: 1024px;
$tablet-small: 900px;
$phone: 420px;
